body {
    background-color: #211f1f;
    overflow: hidden;
}

:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    position: relative;
    text-align: center;
    top: 30%;
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
    background-color: silver;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
    background-color: silver;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

.header {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(27, 25, 25);
    left: 0%;
    top: 0%;
}

.mid {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 93%;
    width: 100%;
    left: 0%;
    top: 0%;
}

.window {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 70%;
    background-color: rgb(27, 25, 25);
}

.footer {
    position: absolute;
    width: 100%;
    height: 8%;
    left: 0%;
    top: 92%;
    background-color: rgb(27, 25, 25);
}

.Link {
    font-family: monospace;
    color: grey;
    text-decoration: none;
    font-size: 15px;
}

.Link:hover {
    color: goldenrod;
}

.fa {
    position: relative;
    top: 3%;
    padding: 20px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    color: grey;
}

.fa:hover {
    color: goldenrod;
}

#donacja {
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 120px;
    color: silver;
}

#donacja:hover {
    color: linear-gradient(90deg, rgba(192, 192, 192, 1) 36%, rgba(64, 47, 47, 1) 49%);
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 10%;
    top: 25%;
    color: silver;
    font-size: 25px;
}

#cena {
    font-size: 70px;
    color: silver;
}

.window img {
    opacity: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
}

.window img:nth-child(1) {
    left: 0px;
    animation: animate 5s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(2) {
    left: 4%;
    animation: animate 4s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(3) {
    left: 8%;
    animation: animate 2s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(4) {
    left: 12%;
    animation: animate 4.2s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(5) {
    left: 16%;
    animation: animate 4s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(6) {
    left: 20%;
    animation: animate 3s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(7) {
    left: 24%;
    animation: animate 2.5s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(8) {
    left: 28%;
    animation: animate 2s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(9) {
    left: 32%;
    animation: animate 3s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(10) {
    left: 36%;
    animation: animate 2.3s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(11) {
    left: 40%;
    animation: animate 2.7s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(12) {
    left: 44%;
    animation: animate 2.7s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(13) {
    left: 48%;
    animation: animate 2.5s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(14) {
    left: 52%;
    animation: animate 2.3s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(15) {
    left: 56%;
    animation: animate 2.8s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(16) {
    left: 60%;
    animation: animate 2.4s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(17) {
    left: 64%;
    animation: animate 2.2s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(18) {
    left: 68%;
    animation: animate 2.1s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(19) {
    left: 72%;
    animation: animate 2.3s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(20) {
    left: 76%;
    animation: animate 2.5s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(21) {
    left: 80%;
    animation: animate 2.7s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(22) {
    left: 84%;
    animation: animate 2.3s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(23) {
    left: 88%;
    animation: animate 2.1s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(24) {
    left: 92%;
    animation: animate 2.4s linear infinite;
    animation-fill-mode: both;
}

.window img:nth-child(25) {
    left: 96%;
    animation: animate 2.3s linear infinite;
    animation-fill-mode: both;
}

@keyframes animate {
    0% {
        top: 0px;
        opacity: 0;
        transform: translate(-20px) rotate(10deg);
    }
    10% {
        opacity: 1;
    }
    60% {
        transform: translate(35px) rotate(180deg);
    }
    100% {
        top: 75%;
    }
}